HYPO_ENV=local
HYPO_LOG_LEVEL=INFO
HYPO_K8S_MODE=auto
# HYPO_KUBECONFIG_PATH=
HYPO_K8S_CONTEXT=kind-mybookstore
HYPO_PROMETHEUS_URL=http://localhost:9090
# HYPO_CORS_ORIGINS=["http://localhost:3000"]
